<section class="container">
	<div class="notification-wrap">
	<%= link_to 'View Marketplace by Creator', market_stores_path %>
	</div>

	<div class="signup-wrap product-wrap product-lists product-mgmt">
    	<h2>MARKETPLACE BY PRODUCT</h2>
        <div class="marketplace">
        	<!-- <div class="market-select">
            	<select class="selectpicker">
                <option>Price</option>
                <option>$100</option>
                <option>$110</option>
                </select>
            </div>
            <div class="market-select">
            	<select class="selectpicker">
                <option>Color</option>
                <option>Red</option>
                <option>Black</option>
                </select>
            </div>
            <div class="market-select">
            	<select class="selectpicker">
                <option>Brand</option>
                <option>Brand A</option>
                <option>Brand B</option>
                </select>
            </div>
            <div class="market-select">
            	<select class="selectpicker">
                <option>Category</option>
                <option>Category A</option>
                <option>Category B</option>
                </select>
            </div>
            <h3>10,280 Found</h3> -->
        </div><!--marketplace ends-->
        <div class="market-store">
        	<ul>
        		<% @products.each do |item| %>
            <li><div class="cols">
            	<div class="text-center">
                    <%= link_to market_stores_product_path(item) do %>
            		<% item.product_images.each do |picture| %>
					<% if picture.featured == true %>
						<%= image_tag picture.image_url(:small) %>	
					<% end %>
				<% end %>
				</div>
                <div class="product-info">
                	<h2><%= item.name %></h2>
                    <% end %>
                    <h3>By <%= item.user.company_name %></h3>
                    <h3><%= number_to_currency item.price %></h3>
                </div><!--product-info ends-->
                <!-- <div class="product-rating">
                	<ul class="stars">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="inactive"><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <ul class="color">
                    <li><a href="#"><img src="images/color1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/color2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/color3.jpg" alt=""></a></li>
                    </ul>
                </div>--> <!--product-rating ends-->
            </div><!--cols ends--></li>
            <% end %>
            </ul>
        </div><!--market-store ends-->
    </div><!--signup-box ends-->
</section>