<section class='container'>
	<div>
    	<h2 style="font-size: 39px; font-family: 'Roboto Condensed',sans-serif; color: #25AAE1; margin-bottom: 60px; text-align: center; text-transform: uppercase;">ORDER MANAGEMENT</h2>
        <div>
        	<% @orders.each do |order| %>
				<% if order.user_id == current_user.id %>
					<h2 style="font-size: 20px; color: #A7A9AC; font-weight:300; text-transform: none; text-decoration: bold;">Order # <%= order.id %></h2>
                		<% order.order_items.each do |item| %>
                        <div class ='col-md-4' style="border: 1px solid #25AAE1; padding: 5px;">
						<h2 style="font-size:15px; margin-bottom: 2px; padding-bottom: 2px; text-decoration: underline; font-weight: 300; color: #A7A9AC;"><%= item.sku.product.name %></h2>
						<% item.sku.product.colors.each do |color| %>
							<table>
                                <tbody style="font-family: 'Helvetica Neue', Helvetica, Arial, sans serif; font-size: 16px; color: #333;">
                           <tr><td style="padding: 2px 5px;"><%= color.hue %></td>
							<% item.sku.product.sizes.each do |size| %>
								<td style="padding: 2px 5px;"><%= size.measurement %></td>
								<td style="padding: 2px 5px;"><%= item.quantity %> units</td>
								<td style="padding: 2px 5px;"><%= number_to_currency(item.price_per_unit * item.quantity) %></td>
							<% end %></tr>
                                </tbody>
                            </table>

						<% end %>
                    </div>
					<% end %>
                <div class="col-md-6" style="border: 1px solid #25AAE1; padding: 5px; margin: 0px 15px;">
                <table>
                	<tbody style="font-family: 'Helvetica Neue', Helvetica, Arial, sans serif; font-size: 16px; color: #333;">
                    <tr>
                    <td style="padding: 2px 5px;">Order Status:</td>
                    <td style="padding: 2px 5px;"><%= order.order_status_id %></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Ordered Date:</td>
                    <td style="padding: 2px 5px;">3/28/15</td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Creator Name:</td>
                    <td style="padding: 2px 5px;">Pet Athletics</td>
                    </tr>
                    <% if !order.order_sh_date.nil? %>
                    <tr>
                    <td colspan="2" style="padding: 2px 5px;"><span style="color: #BEC0C2; text-decoration: underline;">Shipping Information</span></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Date Shipped:</td>
                    <td style="padding: 2px 5px;"><%= order.order_sh_date %></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Carrier:</td>
                    <td style="padding: 2px 5px;"><%= order.ship_type %></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Tracking #:</td>
                    <td style="padding: 2px 5px;"><%= order.tracking %></td>
                    </tr>
                    <% end %>
                    <tr>
                    <td colspan="2" style="padding: 2px 5px;"><span style="color: #BEC0C2; text-decoration: underline;">Cost</span></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Subtotal</td>
                    <td style="padding: 2px 5px;"><%= number_to_currency(order.subtotal) %></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Shipping</td>
                    <td style="padding: 2px 5px;"><%= number_to_currency(order.shipping) %></td>
                    </tr>
                    <tr>
                    <td style="padding: 2px 5px;">Total Cost</td>
                    <td style="padding: 2px 5px;"><%= number_to_currency(order.total) %></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            
            
		<% end %>
		<div class="clearfix"></div>	
	<% end %>
        </div><!--order-mgmt ends-->
    </div><!--signup-box ends-->
</section>