<br /><br /><br />
<div class="col-xs-12 text-center">
	<h1>Marketplace</h1>
</div>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<% @users.each do |store| %>
		<div class="booyah-box market-box col-xs-12 col-sm-2">
			<% if store.user_type == 'creator' %>
				<%= link_to market_store_path(store) do %>
					<%= image_tag store.logo %>	
					<%= store.company_name %>
					<%= store.company_description %>
					<%= store.email %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>