<section class="container">
	<div class="signup-wrap product-wrap product-mgmt product-lists center-me">
	<%= image_tag current_store.logo_url(:profile) %>
	<h2><%= current_store.company_name %> Store Front</h2>
	<div class="market-store store-front">
	<% @products.each do |product| %>
		<div class="cols">

			<%= link_to market_stores_product_path(product) do %>
			<% product.product_images.each do |picture| %>
					<% if picture.featured == true %>
						<div class="text-center">
							<%= image_tag picture.image_url(:small) %>	
						</div>
					<% end %>
				<% end %>
				<div class="product-info">
					<h2><%= product.name %></h2>
			<% end %>
					<h3><%= number_to_currency product.price %></h3>
				</div><!-- product-info ends -->
			<% if current_user.user_type == "retailer" %>
			<%# link_to 'Buy', market_stores_product_path(product),  :class => 'btn btn-primary btn-sm pull-right' %>
			<% end %>
		</div><!-- cols ends -->
	<% end %>
	</div><!-- Market-store store-front ends-->
	</div><!-- signup-wrap ends -->
</section>
