<br /><br /><br />
<div class="col-xs-12 col-sm-offset-1 col-sm-10 booyah-box">
	<h1><%= current_store.company_name %></h1>
	<h4><%= current_store.company_description %></h4>
	<%= image_tag current_store.image %>
	<% @products.each do |product| %>
		<div class="col-xs-3 booyah-box">
			<%= image_tag product.images %>
			<%= product.name %>
			<p>Colors</p>
			<% product.colors.each do |color| %>
				<%= color.hue %>
			<% end %>
			<p>Sizes</p>
			<% product.sizes.each do |size| %>
				<%= size.measurement %>
			<% end %>
			<%= product.description %>
			<%= product.style_number %>
			<%= product.shipping_cost %>
		</div>
	<% end %>
</div>