<br /><br /><br />
<div class="col-sm-offset-2 col-sm-8">
	<div class="col-xs-12 col-sm-12 text-center">
		<h1>Dashboard</h1>
	</div>
	<br /><br />
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2><%= link_to 'Product Management', creator_management_path %></h2>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2><%= link_to 'Order Management', creator_management_orders_path %></h2>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2><%= link_to 'Returns', '#' %></h2>
		<p>coming soon</p>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2><%= link_to 'My Profile', creator_management_profile_path(current_user) %></h2>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2>My Ratings</h2>
		<p>coming soon</p>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h2><%= link_to 'My Storefront', market_store_path(current_user) %></h2>
	</div>
</div>