<section class="container">
    	<h2 style="font-size: 39px; color: #25AAE1; font-family: 'Roboto Condensed', sans-serif; text-align: center;">My Profile</h2>
        <div class="col-md-offset-3 col-md-6">
        	<div class="col-md-4">
            	<div style="border: 1px solid #25AAE1;">
                    <% @user do |picture| %>
                        <%= image_tag picture.picture_url(:profile) %>
                    <% end %>
            	</div>
                <div>
                	<h2 style="font-size: 19px; color: #58595B; text-align: left; margin-bottom: 5px; font-weight: 300;"><%= @user.company_name %></h2>
                    <div style="border: 1px solid #231F20; padding: 2px;">
                    	<p style="font-size: 14px; color: #231F20; text-align: left; font-weight: 300;">Description<br>
                        <%= @user.company_description %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-6">
            	<div style="border: 1px solid #25AAE1; padding: 2px; margin-bottom: 5px;">
					<p style="font-size: 14px; text-align: left; color: #231F20; margin-bottom: 5px; font-weight: 300;">Ship to Address:<br>
					<%= @user.buyer_ship_to_address_1 %><br />
					<%= @user.buyer_ship_to_address_2 %><br />
					<%= @user.buyer_ship_to_address_3 %><br />
					<%= @user.buyer_ship_to_city %>,
					<%= @user.buyer_ship_to_state %>
					<%= @user.buyer_ship_to_zip %><br />
					<%= @user.buyer_phone %></p>
            	</div>
            <!-- <div class="map">
            	<img src="images/map.jpg" alt="" class="img-responsive">
            </div> -->

            	<%= link_to 'Edit Profile', '#', :class => 'btn btn-primary btn-sm pull-right' %>
            </div><!-- col-2 ends -->
        </div><!--profile-wrap ends-->
</section>