<br /><br /><br />
<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<p>
  		<strong>Name:</strong>
  		<%= @product.name %>
	</p>
	<p>
		<strong>Images:</strong><br />
		<div class="col-xs-12">
			<% @product.product_images.each do |image| %>
				<div class="col-xs-6">
					<%= image_tag image.image_url(:large) %>
				</div>
			<% end %>
		</div>
	</p>	

	<p>
  		<strong>Description:</strong>
  		<%= @product.description %>
	</p>

	<% @sku.each do |sku| %>
		<%= sku.color_id %>
	<% end %>
</div>