<br /><br /><br />
<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<p>
  		<strong>Name:</strong>
  		<%= @product.name %>
	</p>
	<p>
		<strong>Style #:</strong>
		<%= @product.style_number %>
	</p>
	<p>
		<strong>Price per unit</strong>
		<%= number_to_currency @product.price %>
	</p>
	<p>
		<strong>Shipping Cost per unit</strong>
		<%= number_to_currency @product.shipping_cost %>
	</p>
	<p>
		<strong>Images:</strong><br />
		<div class="col-xs-12">
			<% @product.product_images.each do |image| %>
				<div class="col-xs-6">
					<%= image_tag image.image_url(:large) %>
				</div>
			<% end %>
		</div>
	</p>	
	<p>
  		<strong>Description:</strong>
  		<%= @product.description %>
	</p>

	<%= simple_form_for :cart, :url => order_items_path do |item| %>
		Price: <%= number_to_currency @product.price %><br/><br />
		<% @product.skus.each do |sku| %>
			<%= item.simple_fields_for "order_items[]", OrderItem.new do |sku_fields| %>
				<%= sku.color.hue %>
				<%= sku.size.measurement %>
				<%= sku_fields.number_field :quantity, class: "form-control; width: 50px" %>
				<%= sku_fields.hidden_field :sku_id, value: sku.id %>
			<% end %>
		<% end %><br />
		<%= item.submit "Add to Cart", class: "btn btn-primary" %><br /><br />
	<% end %>
</div>