<br /><br /><br />
<div class="col-sm-offset-1 col-sm-10">
	<div class="col-xs-12 booyah-box">
		<b>Order:</b> <%= @order.id %><br /><br />
			<%= simple_form_for @order, :url => creator_management_order_path(@order), :method => :patch do |f| %>
				<div class="form-inputs">
					<b>Tracking Info:</b><br /><br />
					<%= f.input :order_sh_date, as: :date, start_year: Date.today.year - 90, label: 'When did you ship the order?' %><br />
					<%= f.input :ship_type, as: :string, hint: 'Fedex, USPS or UPS', label: 'How did you ship this order?' %><br />
					<%= f.input :tracking, as: :string, label: 'What is the tracking number?' %> 
					<% f.input :order_shipped, value: true %>
					<%= f.submit 'Update Order', :class => 'btn btn-primary' %>
				</div>
			<% end %>
	</div>
</div>
