<br /><br /><br />
<div class="col-xs-12 col-sm-offset-1 col-sm-10 booyah-box">
	<h2>Order Management</h2>
	<h4>Orders:</h4>
	<% @orders.each do |order| %>
		<% if order.creator_id == current_user.id %>
			<div class="col-xs-12 booyah-box">
				<div class="col-xs-1">
					<%= order.id %>
				</div>
				<div class="col-xs-6">
					<% order.order_items.each do |item| %>
						<%= item.sku.product.name %><br />
						<% item.sku.product.colors.each do |color| %>
							<%= color.hue %>
							<% item.sku.product.sizes.each do |size| %>
								<%= size.measurement %>
							<% end %>
						<% end %><br />
					<% end %>
				</div>
				<div class="col-xs-3">
					Order Status: <%= order.order_status_id %>
				</div>
				<div class="col-xs-2 pull-right">
					Subtotal:<%= order.subtotal %><br />
					Total:<%= order.total %><br />
					<%= link_to 'Issue a full return', creator_management_my_returns_path %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>