<section class="container">
	<div class="signup-wrap product-wrap product-mgmt product-lists">
    	<h2>ORDER MANAGEMENT</h2>
        <div class="order-mgmt">
        	<% @orders.each do |order| %>
				<% if order.user_id == current_user.id %>
					<h2>Order # <%= order.id %></h2>		
		<div class="col-mgmt-left">
            <div class="col-mgmt">
                <div class="table-responsive">
                <table class="table table-condensed">
                	<tbody>
                		<% order.order_items.each do |item| %>
						<tr><td><h2><%= item.sku.product.name %></h2></td>
						</tr>
						<% item.sku.product.colors.each do |color| %>
							<tr><td><%= color.hue %></td>
							<% item.sku.product.sizes.each do |size| %>
								<td><%= size.measurement %></td>
								<td><%= item.quantity %> units </td>
								<td><%= number_to_currency(item.price_per_unit * item.quantity) %></td></tr>
							<% end %>
						<% end %>
					<% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
            <div class="col-mgmt-left col-mgmt-right">
            <div class="col-mgmt">
                <div class="table-responsive">
                <table class="table table-condensed">
                	<tbody>
                    <tr>
                    <td>Order Status:</td>
                    <td><%= order.order_status_id %></td>
                    </tr>
                    <tr>
                    <td>Ordered Date:</td>
                    <td>3/28/15</td>
                    </tr>
                    <tr>
                    <td>Creator Name:</td>
                    <td>Pet Athletics</td>
                    </tr>
                    <tr>
                    <td colspan="2"><span>Shipping Information</span></td>
                    </tr>
                    <% if !order.order_sh_date.nil? %>
                    <%= link_to 'Update Order', edit_creator_management_order_path(order), :class => 'btn btn-primary' %><br />
					<% end %>
					<tr>
					<td>
					Retailer: <%= order.user.company_name %>
					</td>
					</tr>
					<tr>
					<td>
					Retailer Email: <%= order.user.email %>
					</td>
					</tr>
                    <tr>
                    <td>Date Shipped:</td>
                    <td><%= order.order_sh_date %></td>
                    </tr>
                    <tr>
                    <td>Carrier:</td>
                    <td><%= order.ship_type %></td>
                    </tr>
                    <tr>
                    <td>Tracking #:</td>
                    <td><%= order.tracking %></td>
                    </tr>
                    <tr>
                    <td colspan="2"><span>Cost</span></td>
                    </tr>
                    <tr>
                    <td>Subtotal</td>
                    <td><%= number_to_currency(order.subtotal) %></td>
                    </tr>
                    <tr>
                    <td>Shipping</td>
                    <td><%= number_to_currency(order.shipping) %></td>
                    </tr>
                    <tr>
                    <td>Total Cost</td>
                    <td><%= number_to_currency(order.total) %></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            
            </div>
            
            
		<% end %>
		<div class="clearfix"></div>	
	<% end %>
        </div><!--order-mgmt ends-->
    </div><!--signup-box ends-->
</section>