<br /><br /><br />
<div class="col-xs-12 col-sm-offset-1 col-sm-10 booyah-box">
	<h2>Order Management</h2>
	<h4>Orders:</h4>
	<% @orders.each do |order| %>
		<% if order.creator_id == current_user.id %>
			<div class="col-xs-12 booyah-box">
				<div class="col-xs-1">
					<%= order.id %>
				</div>
				<div class="col-xs-6">
					<% order.order_items.each do |item| %>
						<b><u><%= item.sku.product.name %></u></b><br />
						<% item.sku.product.colors.each do |color| %>
							<b><%= color.hue %></b><br />
							<% item.sku.product.sizes.each do |size| %>
								<%= size.measurement %>
								<%= item.quantity %>
								<%= number_to_currency(item.quantity * item.price_per_unit) %><br/>
							<% end %>
						<% end %><br />
					<% end %>
				</div>
				<div class="col-xs-3">
					<% if order.order_sh_date.nil? %>
					<%= link_to 'Update Order', edit_creator_management_order_path(order), :class => 'btn btn-primary' %><br />
					<% end %>
					Order Status: <%= order.order_status_id %><br />
					Ordered: <%= order.created_at.strftime(" %A %e %B %Y ") %><br /><br />
					Retailer: <%= order.user.company_name %><br />
					Retailer Email: <%= order.user.email %><br />
					Order Shipped on: <%= order.order_sh_date %><br />
					Shipper: <%= order.ship_type %><br />
					Tracking: <%= order.tracking %><br />
				</div>
				<div class="col-xs-2 pull-right">
					Subtotal: <%= number_to_currency(order.subtotal) %><br />
					Shipping: <%= number_to_currency(order.shipping) %><br />
					Total: <%= number_to_currency(order.total) %><br /><br />
					<%= link_to 'Issue a full return', creator_management_my_returns_path, :class => 'btn btn-sm btn-primary' %>
					<%= link_to 'Issue a partial return', '#', :class => 'btn btn-primary btn-sm' %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>