<section class="container">
	<!-- <a href="#" class="notification">Notifications</a> -->

	<div class="signup-wrap signup-box product-wrap product-mgmt">
    	<h2>PRODUCT MANAGEMENT</h2>
        <div class="product-tabs">
        	<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">Product List</a></li>
    <li role="presentation"><%= link_to 'Add Product', new_product_path %></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
    	<div>
    		
        	<table class="table table-condensed">
            	<thead>
                	<tr>
                    <td></td>
                    <td>Product</td>
                    <td>Product #</td>
                    <td>Price</td>
                    <!-- <td>Quantity</td> -->
                    <!-- <td>Total Sold</td> -->
                    <td></td>
                    </tr>
                </thead>
                <tbody>
                	<% @products.each do |product| %>
                	<tr>
                    <td>
                    	<% product.product_images.each do |picture| %>
							<% if picture.featured == true %>
								<%= image_tag picture.image.thumb, class: 'img-responsive' %>	
							<% end %>
						<% end %>
					</td>
                    <td>
                    	<%= link_to product_path(product) do %>
							<%= product.name %>
						<% end %>
                    </td>
                    <td><%= product.style_number %></td>
                    <td><%= number_to_currency(product.price) %></td>
                    <!-- <td><input type="text" value=""></td> -->
                    <!-- <td>800</td> -->
                    <td><%= link_to 'Edit', edit_product_path(product) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
  </div>

</div>
        </div><!--product-tabs ends-->
    </div><!--signup-box ends-->
</section>
<!-- for the time being I have put the inventory management project on hold. Below is the code to accept input on each SKU. It still needs the logic to update the inventory in the DB to be created. -->
					<%# simple_form_for product :url => edit_product_path(product), :method => :patch do |f| %>
						<%# f.simple_fields_for :skus do |s| %>
							<%# product.skus.each do |item| %>
								<%# item.color.hue + " " + item.size.measurement + " quantity:" %>
								<%# s.input :inventory, :label => false, :input_html => {:style => 'width: 100px;'} %>
							<%# end %>
							<%# s.submit 'Update Quantities' %>
						<%# end %>
					<%# end %>