<br /><br /><br />
<h1 class="text-center">Product Management</h1>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<% @products.each do |product| %>
		<div class="col-xs-12 booyah-box">
			<p>
				<div class="col-xs-12 col-sm-2">
					<% product.product_images.each do |picture| %>
						<% if picture.featured == true %>
							<%= image_tag picture.image.thumb %>	
						<% end %>
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-2">
					<%= link_to product_path(product) do %>
						<strong><%= product.name %></strong>
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-2">
					<strong>Colors:</strong><br />
					<% product.colors.each do |color| %>
						<%= color.hue %><br />
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-2">
					<strong>Sizes:</strong><br />
					<% product.sizes.each do |size| %>
						<%= size.measurement %><br />
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-2">
					Price: <%= number_to_currency(product.price) %><br />
					Shipping: <%= number_to_currency(product.shipping_cost) %>
				</div>
			</p>
		</div>
	<% end %>