<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
<section class="container">
  <div class="signup-wrap signup-box">
      <h2>Sign up <span>(For Retailers)</h2>
        <h3>Tell us about your company</h3>
          <div class="form-group">
              <%= f.text_field :company_name, required: true, placeholder: 'Company Name' %>
            </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <%= f.telephone_field :buyer_phone, placeholder: 'Phone' %>
                    </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <input class="spacer" type="text" value="" placeholder="Website">
                    </div>
                </div>
            </div>
            <div class="form-group">
              <%= f.text_field :seller_tax_id, required: true, placeholder: 'Tax ID number' %>
            </div>
    </div><!--signup-box ends-->
</section>
<section class="bordered-block">
  <div class="container">
  <div class="signup-wrap signup-box">
    <h3>Where should we send the bill?</h3>
      <div class="form-group">
        <%= f.text_field :buyer_name, placeholder: "Buyer Name"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :buyer_sold_to_address_1, required: true, placeholder: 'Billing Address' %>
      </div>
      <div class="form-group">
        <%= f.text_field :buyer_sold_to_address_2, placeholder: 'Billing Address Continued' %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <%= f.text_field :buyer_sold_to_city, required: true, placeholder: 'City' %>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <%= f.text_field :buyer_sold_to_state, required: true, placeholder: 'State' %>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <%= f.number_field :buyer_sold_to_zip, required: true, min: 10000, max: 99999, placeholder: 'Zip Code' %>
          </div>
        </div>
        </div><br /><br />
          <h3>Where should we send the products?</h3>
            <div class="form-group">
              <%= f.text_field :buyer_ship_to_address_1, required: true, placeholder: 'Shipping Address' %>
            </div>
            <div class="form-group">
              <%= f.text_field :buyer_ship_to_address_2, placeholder: 'Shipping Address Continued'  %>
            </div>
            <div class="form-group">
              <%= f.text_field :buyer_ship_to_address_3, placeholder: 'Shipping Address Continued'  %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <%= f.text_field :buyer_ship_to_city, required: true, placeholder: 'City' %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <%= f.text_field :buyer_ship_to_state, required: true, placeholder: 'State' %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <%= f.number_field :buyer_ship_to_zip, required: true, min: 10000, max: 99999, placeholder: 'Zip Code' %>
                </div>
              </div>
            </div>
    </div><!--signup-box ends-->
    </div>
</section>
<section class="container">
  <div class="signup-wrap signup-box">
        <h3>Join our growing community</h3>
          <div class="form-group">
              <%= f.email_field :email, required: true, placeholder: 'Email' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Create Your Passphrase' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Your Passphrase' %>
            </div>
            <div class="form-group">
              <%= f.text_area :company_description, required: true, size: "60x5", placeholder: 'Short Company Description' %>
            </div>
            <div class="form-group">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <span class="upload-btn">
                        <%= f.file_field :logo, required: true, placeholder: 'Upload Logo' %>
                      </span>
                    </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <span class="file-info">Help our creators identify your brand!</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <div class="check-row">
                <input type="checkbox" id="check">
                <label for="check"><span>I agree to the Ketti, LLC <a href="#">Terms and Conditions</a></span></label>
                </div>
                <%= f.hidden_field :user_type, :value => :retailer %><!-- This sets the user type to retailer -->
                <%= recaptcha_tags %>
              <%= f.submit "Join ShopKetti" %>
            </div>
            
    </div><!--signup-box ends-->
</section>
<% end %>