<div class="booyah-box col-xs-offset-2 col-xs-6">
  <h2>Retailer Registration</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p><%= f.label "Email" %> -this will be used to log in</p>
      <%= f.email_field :email, autofocus: true, required: true, size: 55 %>
    </div>

    <br />
    <h3 class="text-center">Company Info</h3>
    <hr />

    <div class="field">
      <%= f.label "Company Name" %>
      <%= f.text_field :company_name, required: true, size: 35 %>
    </div>

    <div class="field">
      <%= f.label "Company Logo" %>
      <%= f.file_field :logo, required: true %>
    </div>

    <div class="field">
      <%= f.label "Company Description" %><br />
      <%= f.text_area :company_description, required: true, size: "60x7" %>
    </div>

    <div class="field">
      <%= f.label "Company Phone #" %>
      <%= f.telephone_field :buyer_phone %>
    </div>

    <div class="field">
      <%= f.label "Buyer Name" %>
      <%= f.text_field :buyer_name, placeholder: "first & last name", size: 55  %>
    </div>
    
    <br />
    <h3 class="text-center">Ship to address</h3>
    <hr />

    <div class="field">
      <%= f.label "Ship to address" %><br />
      <%= f.text_field :buyer_ship_to_address_1, required: true, size: 55 %>
    </div>

    <div class="field">
      <%= f.text_field :buyer_ship_to_address_2, size: 55  %>
    </div>

    <div class="field">
      <%= f.text_field :buyer_ship_to_address_3, size: 55  %>
    </div>

    <div class="field">
      <%= f.label "Ship to City" %>
      <%= f.text_field :buyer_ship_to_city, required: true %>
    </div>

    <div class="field">
      <%= f.label "Ship to State" %>
      <%= f.text_field :buyer_ship_to_state, required: true %>
    </div>

    <div class="field">
      <%= f.label "Ship to Zipcode" %>
      <%= f.number_field :buyer_ship_to_zip, required: true, min: 10000, max: 99999 %>
    </div>

    <br />
    <h3 class="text-center">Sold to address</h3>
    <hr />

    <div class="field">
      <%= f.label "Sold to Address line 1" %><br />
      <%= f.text_field :buyer_sold_to_address_1, required: true, size: 55 %>
    </div>
    
    <div class="field">
      <%= f.text_field :buyer_sold_to_address_2, size: 55 %>
    </div>

    <div class="field">
      <%= f.label "Sold to City" %>
      <%= f.text_field :buyer_sold_to_city, required: true %>
    </div>
    
    <div class="field">
      <%= f.label "Sold to State" %>
      <%= f.text_field :buyer_sold_to_state, required: true %>
    </div>

    <div class="field">
      <%= f.label "Sold to Zipcode" %>
      <%= f.number_field :buyer_sold_to_zip, required: true, min: 10000, max: 99999 %>
    </div>

      <%= f.hidden_field :user_type, :value => :retailer %>

    <br /><hr />

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>