<br /><br />
<div class="booyah-box col-xs-offset-2 col-xs-10">
	<h1>Add a product</h1>
	<%= simple_form_for @product, :url => products_path do |f| %>
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :style_number %>
		<%= f.input :shipping_cost %>
		<h2>Colors</h2>
		<div id="colors">
			<%= simple_fields_for :colors do |color| %>
				<%= render 'color_fields', :f => color %>
			<% end %>
		</div>
		<br />
		<%= f.submit "Create", :class => 'btn btn-primary' %>
	<% end %>
</div>