<br /><br /><br />
<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<p>
  		<strong>Name:</strong>
  		<%= @product.name %>
	</p>
	<p>
		<strong>Images:</strong>
		<% @product.product_images.each do |image| %>
			<%= image_tag image.image %>
		<% end %>
	</p>	

	<p>
  		<strong>Description:</strong>
  		<%= @product.description %>
	</p>

	<p>
		<strong>Colors:</strong>
		<% @product.colors.each do |color| %>
			<%= color.hue %>
		<% end %>
	</p>

	<p>
		<strong>Sizes:</strong>
		<% @product.sizes.each do |size| %>
			<%= size.measurement %>
		<% end %>
	</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', product_path %>